<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
>
  <!-- **** Whatsapp ****-->
  <a
    class="appWhatsApp"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=525517919823&text=Hola,%20necesito%20información"
  >
    <img src="assets/images/whatsapp.png" alt="Whatsapp" />
  </a>
  <!-- **** End Whatsapp ****-->

  <div class="content">
    <div class="left box">
      <div class="upper">
        <div class="topic"></div>
        <img class="footerLogo" src="assets/images/naser_bco.png" alt="" />
      </div>
      <div class="lower">
        <div class="topic"></div>
        <div class="phone">
          <a href="#">Aviso de Privacidad</a>
        </div>
        <div class="email">
          <a href="#">Aviso de Privacidad ISSSTE</a>
        </div>
      </div>
    </div>
    <div class="middle box">
      <div class="topic">Contacto</div>
      <div class="address">
        <a href="#"
          ><i class="fa fa-map-marker"></i> División del Norte #2566 Col. San
          Diego Churubusco, C.P. 04120, CDMX</a
        >
      </div>
      <div class="phone">
        <a href="#"><i class="fa fa-phone"></i> 55 5688 7866</a>
      </div>
      <div class="email">
        <a href="#"><i class="fas fa-envelope"></i> info@naser.com.mx</a>
      </div>
    </div>
    <div class="right box">
      <div class="topic">Redes sociales</div>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <!-- <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a> -->
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p>Grupo Naser® 2023. Derechos reservados</p>
  </div>
</footer>
