<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none logo-naser"
  >
    <img src="/assets/images/naser_bco.png" alt="" />
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="index.html">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Agencias Propias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Oficinas Regionales</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="#">Cobertura</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Obituario</a></li>
    <li class="nav-item">
      <a class="nav-link" href="#">Nuestras Empresas</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="#">Contacto</a></li>
  </ul>
</header>
