header {
  color: white !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #714724;
  padding: 0px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  height: 100px;
  .logo-naser {
    img {
      width: 100px;
      height: 100%;
    }
  }
  .nav-item a {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 25px;
    display: block;
    transition: all 0.2s ease;
    &:hover {
      color: #3a200a;
      background-color: #dbc6b7;
      height: auto;
    }
  }
}
