<app-slider></app-slider>
<div class="px-4 py-5 my-5 text-center">
  <!-- <img
    class="d-block mx-auto mb-4"
    src="/docs/5.3/assets/brand/bootstrap-logo.svg"
    alt=""
    width="72"
    height="57"
  /> -->
  <h1 class="display-5 fw-bold text-body-emphasis">
    Nacional de Servicios Funerarios a Futuro GRUPO NASER
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Somos el Grupo Funerario de mayor consolidación en el ramo, donde usted y
      sus seres queridos son nuestra principal preocupación al momento de
      brindarle nuestros servicios con calidad, calidez y confianza, y con la
      absoluta seguridad de su parte, de sentir el apoyo en los momentos más
      difíciles. Lo que nos hace ser una empresa 100% comprometida con su
      necesidad.
    </p>
  </div>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Somos el Grupo Funerario de mayor consolidación en el ramo, donde usted y
      sus seres queridos son nuestra principal preocupación al momento de
      brindarle nuestros servicios con calidad, calidez y confianza, y con la
      absoluta seguridad de su parte, de sentir el apoyo en los momentos más
      difíciles. Lo que nos hace ser una empresa 100% comprometida con su
      necesidad.
    </p>
  </div>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Somos el Grupo Funerario de mayor consolidación en el ramo, donde usted y
      sus seres queridos son nuestra principal preocupación al momento de
      brindarle nuestros servicios con calidad, calidez y confianza, y con la
      absoluta seguridad de su parte, de sentir el apoyo en los momentos más
      difíciles. Lo que nos hace ser una empresa 100% comprometida con su
      necesidad.
    </p>
  </div>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Somos el Grupo Funerario de mayor consolidación en el ramo, donde usted y
      sus seres queridos son nuestra principal preocupación al momento de
      brindarle nuestros servicios con calidad, calidez y confianza, y con la
      absoluta seguridad de su parte, de sentir el apoyo en los momentos más
      difíciles. Lo que nos hace ser una empresa 100% comprometida con su
      necesidad.
    </p>
  </div>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Somos el Grupo Funerario de mayor consolidación en el ramo, donde usted y
      sus seres queridos son nuestra principal preocupación al momento de
      brindarle nuestros servicios con calidad, calidez y confianza, y con la
      absoluta seguridad de su parte, de sentir el apoyo en los momentos más
      difíciles. Lo que nos hace ser una empresa 100% comprometida con su
      necesidad.
    </p>
  </div>
</div>
